*.pyc
.idea
.settings

media
logs
env

*.orig
*.swp
*.DS_Store
*.bak
*.org
dump.rdb

.cache
.env
*.rdb

apps/settings/local.py
apps/settings/__init__.py
apps/runtests/.pytest_cache
apps/build
apps/celerybeat-schedule.db
