<style type="text/css">*{margin: 0;padding:0;}a{text-decoration: none;}</style>

<div style="background:#e2ebf4;width: 100%;padding: 60px 0;font-size: 16px;">
    <table border="0" cellpadding="0" cellspacing="0" height="65" width="100%">
        <tbody>
            <tr>
                <td><div style="text-align: center;padding-bottom: 10px;"><img src="" width="114" height="28"></div></td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" style="font-family: 'Hiragino Sans GB', 'microsoft yahei', Helvetica, Arial, sans-serif;" width="100%">
    <tbody>
        <tr>
            <td><!-- head start -->
            <!-- head end--><!-- content start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="640">
                <tbody>
                    <tr>
                        <td>
                        <div style="padding: 50px 50px 15px; border-top:4px solid #7c8da1; border-radius: 10px; vertical-align: top; background:#fff;">
                        注册成功!
                        </div>
                        <!--update introduction end--></td>
                    </tr>
                </tbody>
            </table>
            <!-- content end --><!-- footer start -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="640">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="540">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;line-height: 150%;font-family:'Hiragino Sans GB','microsoft yahei',Helvetica,Arial,sans-serif;">                                    <p style="color: #999;font-size: 12px;padding: 20px 0 0;margin:0;font-family:'Hiragino Sans GB','microsoft yahei',Helvetica,Arial,sans-serif;line-height:2">此邮件为系统邮件，请勿直接回复</p>
                                        <p style="color: #999;font-size: 12px;margin:0;font-family:'Hiragino Sans GB','microsoft yahei',Helvetica,Arial,sans-serif;line-height:2;">Copyright © 2018 Tenda Tech.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- footer end--></td>
        </tr>
    </tbody>
</table>
</div>